# pytest
asyncio
aiohttp
async-lru
python-dotenv
fastapi
uvicorn[standard]



# -------------- lunes
#test
#manejo de errores

# -------------- domingo
#comentarios del codigo
#organizar docker
#hacer el readme
#responder header json content type
